body{
    background-color: black;

}
.post{
    background-color: white; 
    width: 380px;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    }

.header{
    display:flex;
    
    padding: 3px; 
}
.icon-h{
margin: auto;
padding-left: 10px;

}



.name-h{
    width: 100px; 
    height: 40px; 
    font-size: smaller;
    padding-top: 10px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
}
.menu-h{
    margin-left: 260px; ;
    margin-top: 10px;
    margin-right: 10px;
    
    
}
img{
    width: 380px;
    height: 300px;
   
    margin: 0%;
    border: 0ch
    ;
}
.footer{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 10px;
}

.iconlu{
    width: 250px;
    
    margin-left: 10px;
}
.iconsave{
    margin-left: 80px;
}
.text{
    padding: 15px;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}
